  <footer class="main-footer">
    <strong>Copyright &copy; 2020-2021 <a href="https://web.facebook.com/profile.php?id=100013021056012">Sameh Hussien</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" href="https://web.facebook.com/profile.php?id=100013021056012"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" class="text-warning" href="https://www.instagram.com/same7_7ussien/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
    </div>
  </footer>